#header, #footer{
    background-color: #253541;
}

#header{
    padding: 15px;
    color: white;
}

.side{
    display: inline-block;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
}

#title{
    font-size: 25px;
}

img{
    padding: 0px 20px;
}

#subtitle{
    font-size: 15px;
}

span{
    padding: 25px;
}


.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #1e1e24;
    font-family: Tahoma, Geneva, sans-serif;
}
body{
    background-color: #1e1e24;
    font-family: Tahoma, Geneva, sans-serif;
}

.ui-mobile-viewport .ui-overlay-a{
    background-color: #1e1e24;
    font-family: Tahoma, Geneva, sans-serif;
}

.tick text, .tick line{
    fill: white;
}

#range-1a{
    display: none;
}
#range-1b{
    display: none;
}

#svg-holder-slider{
    width: 1600px;
}

.axis-titles{
    fill: white;
}

svg{
    border: 1px #34353A solid;
    padding: 5px;
}


#svg-holder{
    margin: auto;
    width: 1700px;
    height: 800px;
    display: block;
    padding: 40px 20px;
}

#svg-left #svg-right{
    height: 780px;
}

.col-UI{
    display: inline-block;
}

#svg-holder div{
    margin: auto;
}

#assignment_info{
    display: inline;
}

.non_brushed{
    fill: grey;
    opacity: 0.25;
}

#svg-holder-BarLoc .non_brushed{
    fill: grey;
    opacity: 0.5;
}

#tool-tip{
    position: absolute;
    border: 1px dotted black;
    background-color: white;
    color: black;
    font-size: 15px;
    visibility: hidden;
    padding: 6px;
}