#header{
    background-color: #00756e;
    padding: 15px;
}

#footer{
position: fixed;
   left: 0;
   bottom: 0;
   background-color: #00756e;
   color: white;
   text-align: center;
   width: 100%;
}

#svg-holder{
    margin: auto;
    width: 1650px;
}
#svg-holder div{
    display: inline-block;
    margin: auto;
    width: 500px;
}

#assignment_info{
    display: inline;
}

.non_brushed{
    fill: grey;
    opacity: 0.25;
}

#svg-holder-BarLoc .non_brushed{
    fill: grey;
    opacity: 0.5;
}

#tool-tip{
    position: absolute;
    border: 1px solid blue;
    background-color: yellow;
    visibility: hidden;
    padding: 6px;
}