#header{
    background-color: #00756e;
    padding: 15px;
}

#footer{
position: fixed;
   left: 0;
   bottom: 0;
   background-color: #00756e;
   color: white;
   text-align: center;
   width: 100%;
}

#assignment_info{
    display: inline;
}

.non_brushed{
    fill: grey;
    opacity: 0.5;
}