{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <div id="script-div">
        <script src="{{url_for('static', filename='js/UI_Control.js')}}"></script>
        <script src="{{url_for('static', filename='js/pca_graph.js')}}"></script>
        <script src="{{url_for('static', filename='js/pie_graph.js')}}"></script>
        <script src="{{url_for('static', filename='js/bar_graph.js')}}"></script>
        <script>
            drawGraphs();
        </script>
    </div>

    <div id="svg-holder">
        <div id="svg-left" class="col-UI">
            <div id="svg-holder-BarLoc">
            </div>
        </div>
        <div id="svg-right" class="col-UI">
            <div id="svg-right-left" class="col-UI">
                <div id="svg-holder-PCA1">
                </div>
                <div id="svg-holder-PCA2">
                </div>
            </div>
            <div id="svg-right-right" class="col-UI">
                <div id="svg-holder-CityBar">
                </div>
                <div id="svg-holder-ComPie">
                </div>
            </div>
        </div>
    </div>
    <div id="tool-tip">
    </div>
    

{% endblock %}
